/* intro *

-------------------------------------- */

.host {
    width: min(100%, 60rem); // stylelint-disable-line scss/no-global-function-names
}

.alignCenter {
    margin: auto;
}

.alignRight {
    margin-left: auto;
}

.gutterBottom {
    margin-bottom: var(--component-bottom-guttor);
}
