/* variables *

-------------------------------------- */

// fontsize

$global-font-size: 62.5%; // root font size calculation trick to make 1rem  = 10px

// breakpoints

// $max-width-page-xs: ;
// $max-width-page-s: ;
// $max-width-page: ;
// $max-width-user-page: ;

// general colors

$color-01: #fff;
$color-02: #f3f3f3;
$color-03: #16181f;
$color-04: #1b91ff;
$color-05: #673ab7;
$color-06: #f16d85;
$color-07: #66fcf1;

// $color-08: #;
// $color-09: #;
// $color-10: #;
// $color-11: #;
// $color-12: #;
// $color-13: #;
// $color-14: #;

// gradient colors

$readability-gradient: linear-gradient(
  90deg,
  rgb(8 11 23 / 70%) 0%,
  rgb(8 11 23 / 50%) 31%,
  rgb(8 11 23 / 30%) 47%,
  rgb(8 11 23 / 0%) 60%,
  rgb(8 11 23 / 0%) 100%
);
$base-font: "Lato", sans-serif;
$base-fontsize: 1.6rem;
$base-lineheight: 2.2rem;

// general fontweight

$fontweight-bolder: 900;
$fontweight-bold: 700;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-light: 300;

// general lineheight

$line-height-title: 1.2;
$line-height-default-text: 1.4;

// general fontsizes

$fontsize-l: 1.8rem;
$fontsize-m: 1.6rem;
$fontsize-s: 1.4rem;
$fontsize-xs: 1.2rem;

// timing variables
$button-animation: 220ms ease-out;
$text-animation: 220ms cubic-bezier(0.075, 0.82, 0.165, 1);

// z-index

$level-underground: -1;
$level-1: 10;
$level-2: 20;
$level-3: 30;
$level-4: 40;
$level-5: 50;
$level-6: 60;
$level-overlay: 100;

// max width

$max-width-page-l: 118rem;
$max-width-page-xl: 140rem;
