/* button *

-------------------------------------- */

@import '../../../styles/resources/variables';

.host {
  // * default props * //
  --button-padding-x-axis: 2.6rem;
  --button-padding-y-axis: 1.4rem;
  --button-font-size: 1.8rem;
  --button-background-color: #{$color-03};
  --button-background-color-active: #{$color-04};
  --button-text-color: #{$color-01};
  --button-min-width: 20rem;
  // **** //

  display: inline-flex;
  padding: var(--button-padding-y-axis) var(--button-padding-x-axis);
  min-width: var(--button-min-width);
  border-radius: 3em;
  background-color: var(--button-background-color);
  transition: background-color $button-animation;

  &:hover,
  &:focus {
    background-color: var(--button-background-color-active);
  }
}

.inner {
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: var(--button-font-size);
  color: var(--button-text-color);
}

.primary {
  background-color: var(--button-background-color);
}

.secondary {
  --button-background-color: #fff;
  --button-text-color: #000;
  --button-background-color-active: #b4b5b8;

  border: 1px solid var(--button-background-color-active);
}

.small {
  --button-padding-x-axis: 2.2rem;
  --button-padding-y-axis: 1.2rem;
  --button-font-size: 1.6rem;
  --button-min-width: 10rem;
}

.medium {
  padding: var(--button-padding-y-axis) var(--button-padding-x-axis);
}

.large {
  --button-min-width: 28rem;
}
