/* button *

-------------------------------------- */

@import '../../../styles/resources/variables';

.host {
  // * default props * //
  --button-padding-x-axis: 2rem;
  --button-padding-y-axis: 0.8rem;
  --button-font-size: 1.4rem;
  --button-background-color: #1b91ff;
  --button-background-color-active: #0c4a84;
  --button-text-color: #{$color-01};
  // **** //

  display: inline-flex;
  padding: var(--button-padding-y-axis) var(--button-padding-x-axis);
  border-radius: 3em;
  background-color: var(--button-background-color);
  transition: background-color 220ms ease;

  &:hover,
  &:focus {
    background-color: var(--button-background-color-active);
  }
}

.inner {
  line-height: 1;
  font-size: var(--button-font-size);
  color: var(--button-text-color);
}

.primary {
  background-color: var(--button-background-color);
}

.secondary {
  --button-background-color: #fff;
  --button-text-color: #000;
  --button-background-color-active: #b4b5b8;

  border: 1px solid var(--button-background-color-active);
}

.small {
  --button-padding-x-axis: 1.6rem;
  --button-padding-y-axis: 0.6rem;
  --button-font-size: 1.2rem;
}

.medium {
  padding: var(--button-padding-y-axis) var(--button-padding-x-axis);
}

.large {
  --button-padding-x-axis: 2.6rem;
  --button-font-size: 1.6rem;
}
