/* basics *

-------------------------------------- */

// This (#__next) is the container element for the react-app,automatically created by the next.js framework:
@use "src/styles/resources/mixins/button-reset";

#__next { // stylelint-disable-line  selector-id-pattern
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $global-font-size;
  background-color: var(--color-page);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[hidden] {
  display: none !important; // stylelint-disable-line declaration-no-important
}

/**
 * Body
 */

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
  font-size: $base-fontsize;
  font-family: $base-font;
  line-height: $base-lineheight;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}

/**
 * Headlines
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-family: $base-font;
}

/**
 * General Text Formattings
 */

span,
p {
  margin: 0;
  font-family: $base-font;
}

b,
strong {
  font-weight: 700;
}

i,
em,
dfn {
  font-style: italic;
}

address {
  font-style: normal;
}

abbr {
  font-variant: small-caps;
  letter-spacing: 1px;
  border-bottom: 1px dotted;
  cursor: help;
}

sub,
sup {
  position: relative;
  font-size: 10px;
  line-height: 10px;
}

sub {
  top: 4px;
}

sup {
  top: -6px;
}

q,
cite,
blockquote {
  font-family: $base-font;
  font-style: italic;
}

hr {
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

mark {
  background-color: $color-02;
}

ol,
ul,
dl,
li,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * Form
 */

fieldset {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  padding: 0;
}

input,
select,
textarea {
  border: none;
}

/**
 * Images
 */

img {
  display: block;
  max-width: 100%;
}

/**
 * Buttons
 */

button,
a {
  @include button-reset.button-reset;
}
