/* button reset *

-------------------------------------- */

@mixin button-reset {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;  /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
