/* button close *

-------------------------------------- */

.host {
  --button-close-size: 2rem;
  --button-close-icon-color: #{$color-03};

  width: var(--button-close-size);
  height: var(--button-close-size);

  // icon color / animation
  &.icon {
    color: var(--button-close-icon-color);
  }

  &:hover,
  &:focus {
    .icon {
      --button-close-icon-color: #{$color-04};

      transition: all $button-animation;
    }
  }

  // end icon color / animation
}

.small {
  --button-close-size: 1rem;
}

.large {
  --button-close-size: 3rem;
}

.light {
  --button-close-icon-color: #{$color-01};
}
