/* base page layout *

-------------------------------------- */

.main {
  padding-top: var(--page-header-height);
  flex: 1 0 auto;
  width: 100%;
  background-color: var(--default-background-color);
}
